*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 110vh;
  background-color:#da4213;
}

p{
  text-align: center;
  padding: 2px;
  color: white;
  font-size: 10px;
  background-color: rgba(65, 26, 206, 0.292);
  width: 70px;
  height: 15px;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.user{
  margin: 2px;
}
